.main {
    padding-inline: var(--padding-inline-main);
    padding-block: var(--padding-block-main);
}


.main__content__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.main__content__countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

/* set media for small devices */
@media screen and (max-width: 768px) {
    .main__content__countries {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    }

    .main__content__search {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}